
<div class="modal-header">
    <h3 class="modal-title">{{ itemFinal.nomenclatura }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ng-container *ngIf="itemFinal.promocao">
        <h4>Promocao: {{ itemFinal.promocao.percentualDesconto }}%</h4>
    </ng-container>
    <h4>Preco: </h4>
    <p>De: <s>{{ itemFinal.precoDe | currency:'R$' }}</s> | Por: {{ itemFinal.precoPor | currency:'R$'}}</p>
    <h4>Nomeclatura detalhada: </h4>
    <p>{{ itemFinal.nomenclaturaDetalhada }}</p>
    <ng-container *ngIf="itemFinal.principioAtivo">
        <h4>Princípio ativo:</h4>
        <p>{{ itemFinal.principioAtivo }}</p>
        <h4>Classe terapeutica:</h4>
       <p>{{ itemFinal.classeTerapeutica }}</p>
    </ng-container>
        <h4>Situação do item: {{ itemFinal.situacaoItem }}</h4>
    <ng-container>
        <h4 *ngIf="itemFinal.advertencias[0]">Advertencias:</h4>
        <div *ngFor="let advertencia of itemFinal.advertencias">{{ advertencia }}</div>
    </ng-container>
    <ng-container>
        <h4>Categorias:</h4>
        <ol>
            <li *ngFor="let categoria of itemFinal.categorias">{{ categoria.descricao }}</li>
        </ol>
    </ng-container>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>