
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">codigoItem</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preco</th>
      <th scope="col">Estoque</th>
      <th scope="col">EAN</th>
      <th scope="col">Detalhe</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaDoPai; let cont = index">
        <ng-container *ngIf="item.mostrarItem">
          <!-- <th scope="row">{{ cont }}</th> -->
          <td>{{ item.codigoItem }}</td>
          <td>{{ item.nomenclaturaVarejo }}</td>
          <td>{{ item.precoPor }}</td>
          <td>{{ item.estoqueLoja }}</td>
          <td >{{ item.ean }}</td>
          <td>
            <app-detalhes-item [itemFinal]="item">

            </app-detalhes-item>
          </td>
        </ng-container>  
      </tr>
  </tbody>
</table>

<!-- <div *ngFor="let item of listaDoPai">
  <div *ngIf="item.nomeDetalhado">
    <h3>Descrição: {{ item.nomeDetalhado }}</h3>
    <div>Preço: {{ item.precoPor }}</div>
    <div>EAN: {{ item.ean }}</div>
    <div>Código: {{ item.codigoItem }}</div>
    <app-detalhes-item [itemFinal]="item"></app-detalhes-item>
  </div>
</div> -->
